body{
    background-color: #393E46;
    margin: auto 8px;
}
.container{
    text-align: center;
    
}
h1{
    font-size: 8rem;
    text-shadow: 5px 0 rgb(76, 76, 76);
    color: #4ECCA3;
    font-family: cursive;
}
footer{
    text-align: center;
    margin: 20px 20px;
    color: aliceblue;
    font-size: 1rem;
    
}
.dice{
    display: inline-block;
    margin: auto 33px;
    text-align: center;
}
p{
    font-size: 2rem;
    font-family: cursive;
    color: #4ECCA3;
}